@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic);
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'sans-serif';
}

body, html{
    width: 100%;
    height: 100%;
}

.top, .bottom, .right, .left{
    position: fixed;
    background-color: #FFF;
    z-index: 3;
}

.left, .right{
    top: 0;
    bottom: 0;
    width: 15px;
}

.left{ 
    left: 0; 
}

.right{
    right: 0;
}

.top, .bottom{
    left: 0;
    right: 0;
    height: 15px;
}

.top{ 
    top: 0; 
}

.bottom{
    bottom: 0;
}


.overlay{
    width: 100%;
    height: 100%;
    background: rgba(49,1,7,.34);
}

.jumbotron{
	margin: 0;
    padding: 0;
    height: 100%; 
    width: 100%;
    background: url('../img/Lindas-bread-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.jumbotron h1{
	color: #FFF;
    font-size: 44px;
    font-family: Cabin;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0,0,0,.20);
}

.content-area{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 600px;
    height: 152px;
    margin-top: -76px;
    margin-left: -300px;
}

.jumbotron h1 span.years{
    color: #EFA03E;
    font-family: Cabin;
}
.menu{
    background-color: #F2F0EB;
    padding-bottom: 90px;
    padding-top: 70px;
    width: 100%;
    position: relative;
    top: 90%;
}
.menu h1{
    text-align: center;
    color: #AD2A24;
    margin-bottom: 50px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
}
.menu p{
    font-size: 20px;
    line-height: 25px;
    font-family: Cabin;
}

